<template>
    <div class="container mt-3 mb-5">
        <div class="row">
            <div class="main-slider-wrap col">
                <VueSlickCarousel
                    class="main-slider"
                    v-bind="settings"
                    :arrows="true"
                    :dots="true"
                    autoplay
                >
                    <div v-for="item in items" :key="`slider_${item.id}`">
                        <a :href="itemUrl(item)">
                            <img
                                :src="
                                    `/storage/app/media${item.preview_image_media}`
                                "
                            />
                        </a>
                    </div>
                </VueSlickCarousel>
            </div>
        </div>
    </div>
</template>

<script>
import VueSlickCarousel from "vue-slick-carousel";
// optional style for arrows & dots
import "vue-slick-carousel/dist/vue-slick-carousel.css";
import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";

export default {
    name: "MainSlider",
    props: ["items"],
    components: {
        VueSlickCarousel
    },

    data: () => ({
        settings: {
            dots: true,
            slidesToShow: 1,
            // centerMode: true,
            // centerPadding: "50px",
            mobileFirst: true
        }
    }),
    mounted() {
        console.log("Component mounted.");
    },

    methods: {
        itemUrl(item) {
            return item.url || `/news/${item.slug}`;
        }
    }
};
</script>

<style>
.main-slider,
.main-slider-wrap {
    border-radius: 10px;
}

.main-slider::before {
    opacity: 0.3;
    content: "";
    left: -2.2rem;
    top: 2.2rem;
    height: calc(100% - 5.6rem);
    width: calc(100% + 4.4rem);
    background-color: rgba(200, 202, 212);
    border-radius: 1.2rem;
    z-index: -1;
    position: absolute;
    display: block;
}
.main-slider-wrap::before {
    opacity: 0.5;
    content: "";
    left: -0.2rem;
    top: 1.2rem;
    height: calc(100% - 3.6rem);
    width: calc(100% + 0.4rem);
    background-color: rgba(200, 202, 212);
    border-radius: 1.2rem;
    z-index: -1;
    position: absolute;
    display: block;
}

.slick-slide img {
    width: 100%;
    border-radius: 10px;
}

.slick-dots li button:before {
    font-size: 14px;
}

.slick-dots li.slick-active button:before {
    color: #e20613;
}

@media (max-width: 767px) {
    .main-slider::before {
        display: none;
    }
}


</style>
