<template>
    <div>
        <a class="btn btn-danger text-white mb-1 mb-md-0 mr-1" @click.prevent="simpleDialog = true"><i class="fas fa-envelope-open"></i> Письмо директору</a>

        <v-easy-dialog v-model="simpleDialog" backgroundBtnTag="a">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div>Сообщение директору</div>
                    <div><a href="javascript:void(0)" class="text-danger"><i @click="simpleDialog = false" class="fas fa-times"></i></a></div>
                </div>
                <div class="card-body">
                    <form ref="feedbackForm" @submit.prevent="onSubmitFormHandler()">
                        <input type="hidden" name="email">

                        <div class="form-group">
                            <label for="name">Ваше имя:</label>
                            <input type="text" id="name" name="name" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="phone">Ваш телефон:</label>
                            <input type="text" id="phone" name="phone" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="message">Сообщение:</label>
                            <textarea class="form-control" id="message" name="text_message" rows="5" cols="80"></textarea>
                        </div>

                        <div class="alert" :class="{'alert-danger': hasError, 'alert-success': !hasError}" v-if="message">
                            <p class="mb-0" v-html="message">
                            </p>
                        </div>

                        <button id="simpleContactSubmitButton" type="submit" class="btn btn-outline-danger" :disabled="loading">{{ loading ? 'Подождите..' : 'Отправить' }}</button>
                    </form>
                </div>

            </div>

        </v-easy-dialog>

    </div>
</template>

<script>
import VEasyDialog from 'v-easy-dialog'
import axios from "axios";

export default {
    name: "ToBossForm",
    components: {
        VEasyDialog
    },
    data() {
        return {
            simpleDialog: false,
            hasError: false,
            message: "",
            loading: false
        }
    },

    methods: {
        async onSubmitFormHandler() {
            this.hasError = false;
            this.message = "";
            this.loading = true;

            const fd = new FormData(this.$refs.feedbackForm);

            try {
                const {data} = await axios.post('/api/v1/sendFeedback', fd);
                if (data.success) {
                    this.message = "Заявка успешно отправлена!"
                    window.ym(66187795, "reachGoal", "send_boss_form");
                    this.$refs.feedbackForm.reset();

                    setTimeout(() => {
                        this.simpleDialog = false;
                    }, 1000)
                }
            } catch (e) {
                this.hasError = true;

                if (e.response) {
                    this.message = e.response.data.errors ? e.response.data.errors.join('<br/>') : "Ошибка сервера";
                }
            }

            this.loading = false;
        }
    }
}
</script>

<style scoped>
.to-boss-link {
    cursor: pointer;
}
</style>
