<template>
    <div id="app1"></div>
</template>

<script>
    export default {
        name: 'osago-module',
        data() {
            return {
                src: "//ntws.pro/js/widget2/widget.js"
            }
        },
        mounted() {
            this.async(this.src, function() {
                window.widgetOsago({
                    agentId: 27788,
                    id: 'app1',
                })
            });
        },

        methods: {
            async(u, c) {
                var d = document, t = 'script',
                    o = d.createElement(t),
                    s = d.getElementsByTagName(t)[0];
                o.src = '//' + u;
                if (c) {
                    o.addEventListener('load', function (e) {
                        c(null, e);
                    }, false);
                }
                s.parentNode.insertBefore(o, s);
            }
        }


    }
</script>

<style></style>
