.slick-slider .slick-prev {
    left: 25px;
    z-index: 2;
}

.slick-slider .slick-next {
    right: 25px;
    z-index: 2;
}

.pick-me-tour-section {
    position: relative;
    background: #f2f5f8 bottom;
    padding: 70px 0 70px 0;
    margin-top: 15px;
    font-size: 14px;
    color: #fff;
}

.pick-me-tour-section .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.4;
}

.v-easy-dialog--backdrop .v-easy-dialog--content-container {
    touch-action: auto !important;
}
