[viewBag]

[menu]
menu_id = 1

==
<!-- ======= Top Bar ======= -->
<!-- <section id="topbar" class="d-md-block"> -->
<!--     <div class="container d-flex justify-content-between align-content-center"> -->
<!--         <div class="contact-info d-flex flex-column flex-md-row justify-content-between"> -->
<!--             <div> -->
<!--                 <i class="d-none d-md-inline-flex fas fa-envelope"></i> <a href="mailto:PEGASTMGP@YANDEX.RU">pegastmgp@yandex.ru</a> -->
<!--             </div> -->
<!--             <div> -->
<!--                 <i class="d-none d-md-inline-flex fas fa-phone"></i> <a href="tel:+73472464060">+7 (347) 246-40-60</a> -->
<!--             </div> -->
<!--         </div> -->
<!--         <div class="social-links d-flex align-items-center"> -->
<!--             <a href="https://instagram.com/ufapegas" class="instagram d-none d-md-inline-flex" target="_blank"><i class="fab fa-instagram"></i></a> -->
<!--             <a href="https://wa.me/79371524161" class="google-plus  d-none d-md-inline-flex" target="_blank"><i class="fab fa-vk"></i></a> -->
<!--             <a href="https://vk.com/ufapegas1" class="linkedin  d-none d-md-inline-flex" target="_blank"><i class="fab fa-whatsapp"></i></a> -->
<!--             <div class="d-flex flex-column align-items-center flex-md-row"> -->
<!--                 <boss-form></boss-form> -->
<!--                 <pick-me-tour btn-class="btn btn-primary btn-sm"> </pick-me-tour> -->
<!--             </div> -->
<!--         </div> -->

<!--     </div> -->
<!-- </section> -->
<!-- End Top Bar-->

<!-- ======= Header ======= -->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <a href="/"><img src="{{ 'assets/images/logo-slogan.svg'| theme }}" width="160px" height="50px" alt="Пегас Туристик"></a>
        </div>


        <nav class="navbar navbar-expand-lg d-flex justify-content-end justify-content-lg-start ">
            <button class="navbar-toggler" type="button" data-trigger="#main_nav">
                <i class="fas fa-bars fa-1x"></i>
            </button>
            <div class="navbar-collapse d-flex justify-content-xs-end align-items-start flex-column flex-xs-row" id="main_nav">
                <div class="offcanvas-header d-flex justify-content-between align-items-start d-lg-none">
                    <h5 class="py-2 text-white">Меню</h5>
                    <button class="btn btn-text text-light btn-close"><i class="fa fa-times"></i></button>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    {% component 'menu' selected_item=this.page.title|lower %}



                    <ul class="d-flex menu menu-1 nav-menu">
                        <li id="" class="menu-item menu-item-1 menu-item-level-0 menu-active">
                            <a href="tel:+73472937040" title="" target="_self" class="menu-title">+7 (347) 293-70-40</a>
                        </li>
                        <li id="" class="menu-item menu-item-1 menu-item-level-0 menu-active">
                            <boss-form></boss-form>
                        </li>
                    </ul>
                </div>


            </div> <!-- navbar-collapse.// -->

        </nav>
    </div>
</header><!-- End Header -->
