<div class="container ">
    <div class="card-deck">
        {% for record in __SELF__.items %}
            <div class="card mb-3 rounded-lg">
                {% if record.preview_image %}
                    <img class="card-img-top" alt="{{ record.name }}" src="{{ record.preview_image.getPath }}">
                {% elseif record.preview_image_media %}
                    <img class="card-img-top" alt="{{ record.name }}" src="{{ record.preview_image_media|media }}">
                {% endif %}


                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/{{ __SELF__.property('areaSlug') }}/{{ record.slug }}/">
                            {{ record.name }}
                        </a>
                    </h5>
                    <div class="card-text">
                        {{ record.description }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if __SELF__.property('allowLimit') %}
        <div>
            {{ __SELF__.items.render|raw }}
        </div>
    {% endif %}


</div>
