[viewBag]

[breadcrumbs]
main-ol-class = "pegast_breadcrumb"
active-class = "active"
disabled-class = "disabled"
==
<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                {% component 'breadcrumbs' %}
            </div>
        </div>

    </div>
</section><!-- End Breadcrumbs Section -->
