[viewBag]
==

<!-- ======= Footer ======= -->
<footer id="footer" style="background-image: url({{ asset('/assets/images/footer_bg.jpg' | theme) }});">
    <div class="overlay"></div>
    <div class="footer-content container">
        <div class="row">
            <div class="col-12 col-md-4 mb-3">
                <div class="footer-header">Меню</div>
                <ul class="footer-menu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/news">Новости</a></li>
                    <li><a href="/faq">Помощь</a></li>
                    <li><a href="/contacts">Котнакты</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <div class="footer-header">Информация</div>
                <ul class="footer-menu small">
                    <li><a href="/help/payment/">Как оплатить</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <div class="footer-header">Контакты</div>
                <ul class="footer-menu">
                    <li><a href="tel:+73472937040">+7 (347) 293-70-40</a></li>
                    <li><a href="mailto:anexsgp@yandex.ru">anexsgp@yandex.ru</a></li>
                </ul>
                <div class="footer-header">Мы в соцсетях</div>
                <div class="social-links d-flex ">
                    <a href="https://vk.com/anextourufa1" class="linkedin" target="_blank"><i class="fab fa-vk"></i></a>
                </div>
            </div>

        </div>


        <div class="copyright">
            &copy; Copyright <strong>Anextour1.ru</strong>. Все права защищены
        </div>
        <div class="credits">
            <a href="/about/agreement">Согласие на обработку персональных данных</a>
        </div>
    </div>

</footer><!-- End Footer -->
