[viewBag]
==
<section class="pick-me-tour-section" style="background-image: url({{ asset('/assets/images/pick-tour-bg_1.jpg' | theme) }});">
    <div class="overlay"></div>
    <div class="container position-relative text-white">
        <div class="row">
            <div class="col-12 col-lg-9 mb-3">
                <div class="display-4">Хочу в путешествие</div>
            </div>
            <div class="col-12 col-lg-3 align-self-center text-lg-right">
                <pick-me-tour btn-class="btn btn-lg btn-success text-white"> </pick-me-tour>
            </div>
        </div>


    </div>
</section>
