==
<?
function onStart()
{
    $this->page['title'] = $this->recordDetail->name;
}
?>
==

<promo-page :item="{{recordDetail}}" ></promo-page>

<pick-me-tour country="{{recordDetail.name}}" url="{{recordDetail.url}}">
</pick-me-tour>
