﻿<template>
    <div></div>
</template>

<script>
export default {
    name: "TourvisorModule",

    data: () => ({
        src: "//tourvisor.ru/module/init.js"
    }),

    mounted() {
        const exist = document.querySelector("[hid='tourvisorModule']");

        if (!exist) {
            let externalScript = document.createElement("script");
            externalScript.setAttribute("src", this.src);
            externalScript.setAttribute("hid", "tourvisorModule");
            externalScript.setAttribute("async", true);
            document.head.appendChild(externalScript);
        }
    }
};
</script>

<style></style>
