title = "Главная"
url = "/"
layout = "default"
meta_title = "Салон горящих путевок"
meta_description = "Горящие туры, поиск туров,"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
crumb_title = "Главная"
remove_crumb_trail = 0
crumb_disabled = 0

[viewBag]
==
<?php
function onStart()
{
    $this->page['bodyClass'] = 'home';
}
?>
==
{##}
<div class="container mt-4">
    <tourvisor-module class="tv-search-form tv-moduleid-1367462"></tourvisor-module>
</div>

{% partial 'header/slider' %}

<main id="main">

    {% partial 'pickMeTourSection' %}

    <section id="turkey" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Горящие туры из Уфы</h2>
            </div>
            <tourvisor-module class="tv-hot-tours tv-moduleid-997763"></tourvisor-module>
        </div>
    </section>

    <section id="zanzibar" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Поиск туров из Уфы</h2>
            </div>
            <tourvisor-module class="tv-hot-tours tv-moduleid-997764"></tourvisor-module>
        </div>
    </section>

    <section id="oae" class="wow fadeInUp">
        <div class="container jumbotron">
            <div class="section-header">
                <h2>О компании AnexTour</h2>
            </div>

            <p>ANEX Tour — динамично развивающаяся глобальная компания, которая существует на туристическом рынке уже более 20 лет. Сегодня она объединяет представительства в пяти странах, собственные принимающие офисы по всему миру и десятки тысяч
                сотрудников, стремящихся сделать отдых клиентов компании идеальным. С ANEX Tour вам доступны более пяти десятков открытых направлений и множество концепций того, как можно провести отпуск — от беззаботного пляжного отдыха до
                уникальных оздоровительных программ на лучших мировых курортах.</p>
        </div>
    </section>

</main><!-- End #main -->